.topo{
    position: fixed;
    width: 100%;
    font-size: 20px;
    background-color:black;
    margin: 0px;
    padding: 30px;
}

.logo{
    width: 100px;

}

#banner{
    background-image: url('img/pexels-daniel-torobekov-13689950-scaled.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 200px;
}

.cafeteria{
    background-image: url(img/o-barista-diligente-esta-preparando-cafe-com-leite-fresco-para-os-clientes-para-o-coffee-break-na-cafeteria-scaled.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 200px;
}

.xicara{
    background-image: url(img/cafe-especialidad-mar-del-plata.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 200px;
    margin: 10px;
}
#informações, #contato{
    text-align: center;
    padding: 30px 0px;
    margin: 10px;
}

 #contato{
    background-image: url(img/CSM-BLOG-FOTO-DESTAQUE-CAFETERIAS.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 90px;
    margin: 0px;
}
#horários{
    background-image: url(img/download.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 90px;
}
p{
    font-size: 15px;
    font-family: Verdana;
    text-align: center;
    margin: 10px;
    padding: 0px 20px;
}

h2{
    text-align: center;
    font-size: 25px;
    color:saddlebrown;
    font-family: Arial;
    margin: 10px;
    padding: 20px 0px;
}

h1{
    font-size: 80px;
    color:azure;
    font-family: 'Franklin Gothic Medium';
    position: relative;
    left: 0px;
    right: 0px;
    top: 45px;
}
h3{
    text-align: center;
    background-color: rgba(235, 221, 210, 0.849);
    color:saddlebrown;
    border-radius: 15px;
    border-width: 10px;
    font-size: 20px;
    font-family: Arial;
    margin: 10px;
    padding: 10px;
    width: 200px;
}


a{
    font-size: 20px;
    font-family: Arial;
    text-decoration: none;
    color:chocolate;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

span{
    font-family: Arial;
    font-weight: bold;
    color:chocolate;
}
 li{
    background-color:  rgba(235, 221, 210, 0.849);
    font-size: 35px;
    font-family: Arial;
    text-align: center;
    color:saddlebrown;
    padding: 10px;
}

.rodapé{
    font-size: 20px;
    color:chocolate;
    background-color:black;
    margin: 0px;
    padding: 30px;
}
.seta{
    width: 70px;
    border-radius: 10px;
}

.botão{
    position: absolute;
    right: 100px;
    bottom: 800px;
    top: 3750px;
}

